{% load static %}
<!DOCTYPE html>
<html>
    <head>

    	<!-- Required meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    	<!-- Bootstrap -->
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    	<!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'estadisticas/css/style.css' %}"> 

        <title>Quinielista</title>
    </head>
    <body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarQuinielista">
			<a class="navbar-brand" href="#">Quinielista</a>
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		  		<li class="nav-item active">
		    		<a class="nav-link" href="{%  url 'estadisticas:index' %}">Principal<span class="sr-only">(current)</span></a>
		  		</li>
		  		<li class="nav-item">
		    		<a class="nav-link" href="{% url 'estadisticas:ligaBBVA' 1 %}">Liga BBVA</a>
		  		</li>
		  		<li class="nav-item">
		    		<a class="nav-link" href="{% url 'estadisticas:liga123' 2 %}">Liga 123</a>
		  		</li>
		  		<li class="nav-item">
		    		<a class="nav-link" href="{% url 'estadisticas:resultadosBBVA' 1 %}">Resultados BBVA</a>
		  		</li>
		 		<li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          Dropdown link
			        </a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			          <a class="dropdown-item" href="#">Action</a>
			          <a class="dropdown-item" href="#">Another action</a>
			          <a class="dropdown-item" href="#">Something else here</a>
			        </div>
			    </li>
			    <li class="nav-item">
			    	<a class="nav-link" href="../../../admin">Admin</a>
			    </li>
			</ul>
		    <form class="form-inline my-2 my-lg-0">
		      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		    </form>
		</div>
	</nav>