{% block bar %}
	{% include 'estadisticas/navbar.html' %}
{% endblock %}

<div class="resultadosEncuentros">

	{% if resultados %}
		{% for encuentro in resultados %}
			<table class="table">
				<thead>
					<tr>
						<th scope="col" colspan="6">Jornada</th>
			    	</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
		{% endfor %}
	{% else %}
		<p>No hay equipos.</p>
	{% endif %}

</div>

</body>

{% block js %}
<script type="text/javascript">
	/*$(document).ready( function() {

	});*/
</script>

{% endblock js %}
</html>